body {
    margin: 0;
    padding: 0;
    background: #b7edff;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;

}


.container {
    background: #060650;
    border-radius: 25px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    min-height: 550px;

    max-width: 500px;

    margin: 100px auto;
    gap: 20px;
}

h1 {
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    width: auto;
    height: 150px;
}

button {
    min-width: 250px;
    min-height: 30px;
    font-size: 1.25rem;


    background-color: #b7edff;

    border-radius: 5px;
    border-style: none;
    box-shadow: -10px 10px black;


}

button:hover {
    background-color: #ffffff;
}


@media (max-width: 480px) {

    .container {

        max-width: 400px;
    }

    h1 {
        font-size: 1.75rem;
    }

    button {
        font-size: 1rem;
        min-width: 200px;
    }
}